{% extends 'admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1>Insertar una Habitación</h1>
            <hr>
            <a href="{{ path('admin_room_index') }}"><button class="btn btn-primary">Volver</button></a>
            <hr>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
            <input type="submit" value="Insertar" class="btn btn-success"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
